<div class="expedition" [class.finished]="expedition.finished" *ngIf="expedition">
    <div class="expedition-info">
        <span class="expedition-start">Started: {{ expedition.start | date:'MMMM d, HH:mm' }}</span>
        <span class="expedition-arrival">Time of arrival: {{ expedition.returning ? expedition.end : expedition.returnEnd  | date:'MMMM d, HH:mm' }}</span>
        <span class="expedition-result" *ngIf="expedition.result">{{expedition.result}}</span>
    </div>
    <div class="expedition-actions">
        <ng-container *ngIf="result">
            <div class="battle-actions" *ngIf="expedition.result == 'BATTLE' || expedition.result == 'MONSTER'">
                <button class="battle-btn" [routerLink]="'/expedition/'+expedition.id+'/battle'">To Battle</button>
            </div>
            <ng-container *ngIf="expedition.completed">
                <div class="treasure-actions" *ngIf="expedition.result == 'TREASURE'">
                    <button class="treasure-btn" (click)="revealIsland()">Island</button>
                </div>
                <div class="island-actions" *ngIf="expedition.result == 'ISLAND'">
                    <button class="island-btn" (click)="revealTreasure()">Treasure</button>
                </div>
            </ng-container>
        </ng-container>
        <button class="complete-btn" (click)="complete()">Complete</button>
        <button class="return-btn" *ngIf="expedition.finished" (click)="return()">Return</button>
    </div>
</div>
