<div class="modal-background">
    <div class="modal">
        <form id="form" [formGroup]="form">
            <div>
                <label for="name">Name</label>
            </div>
            <input id="name" formControlName="name"/>

            <div>
                <label for="description">Description</label>
            </div>
            <input id="description" formControlName="description"/>

            <div>
                <label for="timeBounded">Time bounded</label>
            </div>
            <input id="timeBounded" formControlName="timeBounded"/>

            <div>
                <label for="activeStart">Start</label>
            </div>
            <input id="activeStart" formControlName="activeStart" type="date"/>

            <div>
                <label for="activeEnd">End</label>
            </div>
            <input id="activeEnd" formControlName="activeEnd" type="date"/>

        </form>
        <div class="btns">
            <button class="btn btn-cancel" (click)="close()">
                Cancel
            </button>
            <button class="btn btn-accept" (click)="addContext()">
                Add
            </button>
        </div>
    </div>
</div>