.background {
    margin: 0;
    min-height: 100vh;
    background-color: #403d50;
    padding: 25px 30px;
}

.main-container {
    background-color: #242230;
    border-radius: 20px;
    min-height: 150px;
    display: flex;
    padding-bottom: 10px;
}

.menu-container {
    background-color: #1f1d2c;
    width: 150px;
    border-radius: 20px 0 0 20px;
    padding: 10px 15px;
}