<div class="habit" *ngIf="habit">

    <div class="completion-field">
        <button class="complete-btn" (click)="completeHabit()" [class.checked]="habit.completions >= habit.dailyCompletions">
            <div class="check-mark">✔</div>
        </button>
    </div>
    <div class="habit-content">
        <div class="habit-name">{{ habit.name }}</div>
        <div class="habit-trigger" *ngIf="habit.trigger">{{ habit.trigger.name }}</div>
        <div class="habit-desc">{{ habit.description }}</div>
        <div class="completion">
            {{habit.completions}}/{{habit.dailyCompletions}}
        </div>
    </div>
</div>