<div class="habit" *ngIf="habit">
    <button class="complete-btn" (click)="completeHabit()">
        <div class="completion-field"></div>
    </button>
    <div class="habit-content">
        <div class="habit-name">{{ habit.name }}</div>
        <div class="habit-trigger" *ngIf="habit.trigger">{{ habit.trigger.name }}</div>
        <div class="habit-desc">{{ habit.description }}</div>
        <div class="completion">
            {{habit.completions}}/{{habit.dailyCompletions}}
        </div>
    </div>
</div>