.menu-items {
    list-style: none;
    padding: 0;
    margin-top: 30px;
}

.menu-items a {
    text-decoration: none;
    color: #d3d3d3;
}

.menu-title {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 20px;
}

.item a {
    display: flex;
    align-items: center;
}

.item {
    padding: 5px 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    transition: background-color 0.3s ease;
}

.item:hover {
    background-color: #2e2b3d;
}

.item.active {
    background-color: #1c1a27;
}

.circle {
    border-radius: 50%;
    background-color: #353340;
    color: #fff;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: italic;
    margin-right: 20px;
}

.icon {
    border-radius: 5px;
    width: 15px;
    height: 15px;
    background-color: #353340;
    color: #808191;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
}

.item.active .icon {
    background-color: #ff5c00;
    color: white;
}

h3 {
    display: flex;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .menu-items {
      display: flex;
      flex-direction: row;
      margin-top: 0;
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
      padding-bottom: 10px;
    }
  
    .menu-items::-webkit-scrollbar {
      display: none;
    }
  
    .item {
      padding: 10px;
      margin-right: 10px;
    }
  
    .item:last-child {
      margin-right: 0;
    }
  
    .item.active {
      background-color: transparent;
    }
  
    .circle {
      margin-right: 5px;
    }
  
    .icon {
      margin-right: 5px;
    }
  }