.board {
    margin: 20px 0;
}

.row {
    display: flex;
    justify-content: center;
}

.field {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    text-decoration: none;
    background: #0069ed;
    width: 40px;
    height: 40px;
    border: none;
    cursor: pointer;
    transition: background 250ms ease-in-out, transform 150ms ease;
    outline: none;
}

.field:hover,
.field:focus {
    background: #0053ba;
}

.field:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

.field:active {
    transform: scale(0.99);
}

.enemy {
    outline: 1px solid #ed0069;
    outline-offset: -4px;
}

.icon {
    width: 36px;
    height: 36px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media screen and (max-width: 768px) {
    .field {
        width: 30px;
        height: 30px;
    }
    
    .icon {
        width: 26px;
        height: 26px;
    }
}