h2 {
    font-size: 24px;
    font-weight: 600;
    color: #f4f4f4;
    margin-bottom: 20px;
}

.turn-btn {
    margin: 0;
    text-decoration: none;
    border: 1px white;
    color: white;
    border-radius: 15px;
    background-color: green;
    cursor: pointer;
    padding: 2px 5px;
}

.turn-btn:hover,
.turn-btn:focus {
    opacity: 0.9;
}

.turn-btn:active {
    outline: 1px solid #fff;
}

.controls {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
}

.battle-info {
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.battle-info .text {
    color: white;
}

.battle-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}