<h2>Battle</h2>

<div class="battle-content" *ngIf="battle">
    <div class="battle-info">
        <div class="turn-count">Turn {{ battle.turn }}</div>
        <div class="battle-obj">{{ battle.objective }}</div>
        <div class="enemy-count">Enemies: <span class="text">{{ battle.enemyShips.length }}</span></div>
    </div>

    <app-board [battle]="battle" (place)="place($event)" (move)="move($event)" (attack)="attack($event)" [placement]="shipForPlacementId != undefined"></app-board>
    <div class="controls">
        <button class="turn-btn" (click)="endTurn()">{{battle.started ? 'Next turn' : 'Start!'}}</button>
    </div>
    <div class="ships" *ngIf="!battle.started">
        <div class="ship" *ngFor="let ship of unassignedShips">
            <div class="ship-portrait">
                <img [src]="'/assets/'+ship.code+'.png'" alt="">
                <div class="name">{{ ship. name}}</div>
            </div>
            <button class="ship-btn btn" (click)="chooseShip(ship.id)">Place</button>
        </div>
    </div>

</div>