.equipment {
    margin-bottom: 20px;
}

.craft-cell {
    flex-basis: 33.333333%;
    position: relative;
}

.craft-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.craft-buttons {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.crafting-table {
    display: flex;
    flex-wrap: wrap;
    width: 90px;
    height: 90px;
}
  
.craft-cell {
    flex-basis: 33.333333%;
    position: relative;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    overflow: hidden;
    text-align: center;
}
  
.craft-cell img.icon {
    max-height: 100%;
    max-width: 100%;
}
  
.eq-cell {
    width: 30px;
    height: 30px;
    position: relative;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-right: 5px;
    margin-bottom: 5px;
    overflow: hidden;
}
  
.eq-cell .amount {
    color: black;
    text-shadow: -1px 0 aliceblue, 0 1px aliceblue, 1px 0 aliceblue, 0 -1px aliceblue;
    font-size: 9px;
    font-weight: 600;
    position: absolute;
    bottom: 0;
    right: 0;
}
  
.icon {
    position: absolute;
    width: 26px;
    height: 26px;
    top: 0;
    left: 0;
}
  
.craft {
    background-color: #4CAF50;
    border: none;
    color: #fff;
    padding: 8px;
    margin-right: 10px;
    border-radius: 3px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}
  
.craft:hover, .craft:focus {
    background-color: #388E3C;
}
  
.build {
    background-color: #2196F3;
    border: none;
    color: #fff;
    padding: 8px;
    margin-top: 10px;
    border-radius: 3px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}
  
.build:hover, .build:focus {
    background-color: #1976D2;
}
  
.build.disable {
    background-color: #ccc;
    cursor: not-allowed;
}

h2 {
    font-size: 24px;
    font-weight: 600;
    color: #f4f4f4;
    margin-bottom: 20px;
}