<div *ngFor="let item of items">
    {{item.name}}
    <div class="amount">{{item.amount}}</div>
</div>

<div class="craft-container">
    <div class="craft-row">
        <button class="craft-cell"></button>
        <button class="craft-cell"></button>
        <button class="craft-cell"></button>
    </div>
    <div class="craft-row">
        <button class="craft-cell"></button>
        <button class="craft-cell"></button>
        <button class="craft-cell"></button>
    </div>
    <div class="craft-row">
        <button class="craft-cell"></button>
        <button class="craft-cell"></button>
        <button class="craft-cell"></button>
    </div>
</div>
