.craft-container {
    display: flex;
    flex-wrap: wrap;
    width: 90px;
    height: 90px;
}

.craft-cell {
    flex-basis: 33.333333%;
    position: relative;
}

.eq-cell {
    width: 30px;
    height: 30px;
    position: relative;
}

.eq-cell .amount {
    color: black;
    text-shadow: -1px 0 aliceblue, 0 1px aliceblue, 1px 0 aliceblue, 0 -1px aliceblue;
    font-size: 9px;
    font-weight: 600;
    position: absolute;
    bottom: 0;
    right: 0;
}

.icon {
    position: absolute;
    width: 26px;
    height: 26px;
    top: 0;
    left: 0;
}