.craft-container {
    display: flex;
    flex-wrap: wrap;
    width: 90px;
    height: 90px;
}

.craft-cell {
    flex-basis: 33.333333%;
    position: relative;
}

.eq-cell {
    width: 30px;
    height: 30px;
    position: relative;
}

.eq-cell .amount {
    background-color: black;
    color: aliceblue;
    border-radius: 15px;
    width: 15px;
    height: 15px;
    font-size: 9px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon {
    position: absolute;
    width: 26px;
    height: 26px;
    top: 0;
    left: 0;
}