<button *ngFor="let item of items" class="eq-cell">
    {{item.name}}
    <div class="amount">{{item.amount}}</div>
</button>

<div class="craft-container">
    <div class="craft-row">
        <button class="craft-cell"></button>
        <button class="craft-cell"></button>
        <button class="craft-cell"></button>
    </div>
    <div class="craft-row">
        <button class="craft-cell"></button>
        <button class="craft-cell"></button>
        <button class="craft-cell"></button>
    </div>
    <div class="craft-row">
        <button class="craft-cell"></button>
        <button class="craft-cell"></button>
        <button class="craft-cell"></button>
    </div>
</div>
