/* You can add global styles to this file, and also import other style files */
html, body {
    margin: 0;
    padding: 0;
    color: #696774;
}

:root {
    --field-size: 13px;
    --gap-size: 2px;
}
