<h2>City {{ cityId ? cityId : ''}}</h2>


<div class="container">
    <div class="city"></div>
        
    <div class="controls">
        <button class="build-button btn" (click)="switchBuildContainer()">Build</button>
        <button class="build-button btn" (click)="switchShipContainer()">Deploy</button>
        <button class="expeditionBtn btn" [routerLink]="'/city/'+cityId+'/expeditions'">Expeditions</button>
    </div>
    
    <div class="choice">
        <div class="build-container" *ngIf="tab == 1">
            <button *ngFor="let item of shipsToDeploy" class="eq-cell" (click)="onShipClick(item)">
                <img [src]="'/assets/'+ item.icon +'.png'" alt="" class="icon">
            </button>
        </div>
        <div class="build-container" *ngIf="tab == 2">
            <button *ngFor="let item of plans" class="eq-cell" (click)="onBuildingClick(item)">
                <img [src]="'/assets/'+ item.icon +'.png'" alt="" class="icon">
            </button>
        </div>
    </div>
</div>
