<p>city works!</p>


<button class="build-button" (click)="switchBuildContainer()">Build</button>
<div class="build-container" *ngIf="showPlans">
    <button *ngFor="let item of plans" class="eq-cell" (click)="onBuildingClick(item)">
        <img [src]="'/assets/'+ item.icon +'.png'" alt="" class="icon">
    </button>
</div>
<button class="build-button" (click)="switchShipContainer()">Deploy</button>
<div class="build-container" *ngIf="showShips">
    <button *ngFor="let item of shipsToDeploy" class="eq-cell" (click)="onShipClick(item)">
        <img [src]="'/assets/'+ item.icon +'.png'" alt="" class="icon">
    </button>
</div>

<button class="expeditionBtn" [routerLink]="'/city/'+cityId+'/expeditions'">Expeditions</button>